.catalogo
  margin-top: 130px
.grid
  position: relative
  clear: both
  margin: 0 auto
  padding: 1em 0 4em
  max-width: 1000px
  list-style: none
  text-align: center
  figure
    position: relative
    overflow: hidden
    margin: auto
    max-width: 480px
    max-height: 360px
    height: auto
    text-align: center
    cursor: pointer
    img
      margin: auto
      position: relative
      display: block
      min-height: 100%
      max-width: 100%
      opacity: 0.8
    figcaption
      color: #fff
      text-transform: uppercase
      font-size: 1.25em
      -webkit-backface-visibility: hidden
      backface-visibility: hidden
      &::before, &::after
        pointer-events: none
      top: 0
      left: 0
      width: 100%
      height: 100%
      > a
        top: 0
        left: 0
        width: 100%
        height: 100%
    h2
      word-spacing: -0.15em
      font-weight: 300
      span
        font-weight: 800
      margin: 0
    p
      margin: 0
      letter-spacing: 1px
      font-size: 68.5%

/* Common style

/* Anchor will cover the whole item by default
/* For some effects it will show as a button

figure.effect-steve
  z-index: auto
  overflow: visible
  &:before, h2:before
    position: absolute
    top: 0
    left: 0
    z-index: -1
    width: 100%
    height: 100%
    content: ''
    -webkit-transition: opacity 0.35s
    transition: opacity 0.35s
  &:before
    opacity: 0
  figcaption
    z-index: 1
  img
    margin: auto
    opacity: 1
    -webkit-transition: -webkit-transform 0.35s
    transition: transform 0.35s
    -webkit-transform: perspective(1000px) translate3d(0, 0, 0)
    transform: perspective(1000px) translate3d(0, 0, 0)
  h2, p
    font-family: 'Abel'
    color: #484848

  h2
    background: $white
    position: relative
    padding: 0.20em
    font-size: 16px
    &:before
  p
    margin-top: 0.4em
    padding: 0.5em
    font-weight: 800
    opacity: 0
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s
    transition: opacity 0.35s, transform 0.35s
    -webkit-transform: scale3d(0.9, 0.9, 1)
    transform: scale3d(0.9, 0.9, 1)
  &:hover
    &:before
      opacity: 1
    img
      -webkit-transform: perspective(1000px) translate3d(0, 0, 24px)
      transform: perspective(1000px) translate3d(0, 0, 24px)
    h2:before
      opacity: 0
    p
      opacity: 1
      -webkit-transform: scale3d(1, 1, 1)
      transform: scale3d(1, 1, 1)

.modal-footerC
  padding: 20px !important

.description
  font-size: 11px !important
.description i
  font-size: 13px !important
  vertical-align: bottom !important

.mezcli
  color: #171b31 !important
.negro
  color: $black !important
.blanco
  color: $white !important
.gin
  color: #51191b !important
.aqua
  color: #1dafb7 !important
.rosa
  color: #ff3a7f !important
.marino
  color: #0f1952 !important
.navy
  color: #4e66a0 !important
.verde
  color: #147063 !important
.red
  color: red !important
.gray
  color: #70889a !important
.title
  font-family: 'Abel'
  color: #484848
  font-size: 25px
.divider
  border-top: solid 5px #d2d2d2
  margin: 3px auto 35px
