<div class="container">
  <div class="row">
    <div class="col-md-4">
     logo-slogan
    </div>
    <div class="col-md-4">
      <h6>
        CONECTA CON NOSTROS
      </h6>
      <a href="javascript:;"><i class="mdi mdi-facebook-box"></i> Facebook</a>
      <h6>
        ESCRIBENOS
      </h6>
      <a href="javascript:;"><i class="mdi mdi-email"></i> Mail</a>
    </div>
    <div class="col-md-4">
      <h6>
        MÁS INFORMACIÓN
      </h6>
      <p>Calle Emiliano Zapata No. 73 Col. El infiernillo Cuautitlan, Edo. de México C.P 54878  Tel. 5 870 12 15 - 5 870 19 94</p>
      <a href="javascript:;"><i class="mdi mdi-map-marker"></i> Ver ubicación</a>
    </div>
  </div>
  <div>
    <p>Calzado Ormez Copyright © 2016</p>
  </div>
</div>
