header
	nav
	.navbar-inverse
		background: rgba(5, 0, 0, 0.7) !important
		margin-bottom: 0px
		font-weight: 100 !important
		font-family: 'Abel'
	.navbar .navbar-nav > .active > a
		color: inherit
		background-color: rgba(255, 255, 255, 0.07)
		border-bottom: 3px solid $gold
		color: $mediumWhite
		&:hover, &:focus
			color: inherit
			background-color: rgba(255, 255, 255, 0.07)
			border-bottom: 3px solid $gold
			color: $mediumWhite
	.navbar .navbar-nav > li > a
		font-weight: 100
		color: $slowBlack
		&:hover
			color: $mediumWhite
