header
	nav
	.navbar-inverse
		background: rgba(5, 0, 0, 0.7) !important
		margin-bottom: 0px
		font-weight: 100 !important
		font-family: 'Abel'
		.container
			img
				margin-top: -7px
	.navbar
	  padding: 10px 0
	  -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out
	  -moz-transition: background .5s ease-in-out,padding .5s ease-in-out
	  transition: background .5s ease-in-out,padding .5s ease-in-out
	.top-nav-collapse
	  padding: 0
