<div data-easein="fadeIn" class="modal modalContacto" id="modalContacto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="hideAlert()"><span aria-hidden="true">&times;</span></button>
        <h5 class="modal-title" id="myModalLabel">CONTACTO</h5>
      </div>
      <div class="modal-body">

        <form class="contactoForm" ng-submit="vm.send(contact, contactForm)" name="contactForm" novalidate>
          <div class="form-group label-floating has-success">
            <label class="control-label">Nombre: </label>
            <input class="form-control" type="text" ng-model="contact.name" name="name" required autocomplete="off">
          </div>

           <div class="form-group label-floating" ng-class="{'has-error': !vm.validateEmail(contact.mail) && contactForm.email.$dirty, 'has-success': vm.validateEmail(contact.mail) || contactForm.email.$pristine }">
            <label class="control-label" for="inputEmail">Correo: </label>
            <input type="email" class="form-control" ng-model="contact.mail" name="email" required autocomplete="off">
          </div>

           <div class="form-group label-floating has-success">
            <label class="control-label" for="inputSuccess">Empresa: </label>
            <input class="form-control" type="text" ng-model="contact.empresa" name="company" required autocomplete="off">
          </div>

          <div class="form-group label-floating has-success">
            <label class="control-label" for="inputSuccess">Mensaje: </label>
            <textarea class="form-control" rows="3" ng-model="contact.mensaje" name="message" required autocomplete="off"></textarea>
          </div>

          <div class="modal-footer text-center">
            <div ng-show="messageOk" class="alert alert-dismissible alert-success">
              <p>
                ¡Su mensaje fue enviado exitosamente
              </p>
            </div>
            <button type="submit" ng-disabled="!contactForm.$valid" class="btn btn-raised btn-success btn-custom">Enviar</button>

          </div>
        </form>

      </div>
    </div>
  </div>
</div>
