.form-group
	margin-top: 5px
	margin-bottom: 20px

.form-group.label-floating
	label.control-label, .label-placeholder label.control-label
		font-size: 14px
	input
		color: $slowBlack
		font-size: $text-default
	textarea
		color: $slowBlack
		font-size: $text-default

.modal-content
	.modal-header
		.modal-title
			color: $slowBlack
	.modal-footer
		padding-bottom: 20px
		text-align: center


.contactoForm
	margin-top: 30px
.btn-contacto
	letter-spacing: 2px
