/* xs
@media (min-width: 320px) and (max-width: 420px)
  header .navbar-inverse
    background: rgba(5, 0, 0, 1) !important
  .navbar-nav
    margin: 1px -15px
  main
    margin-bottom: 450px
  .slogan
    padding-bottom: 10px
    font-size: 18px
  main
    .descripcion
      margin: 110px 0px 50px 0px
      img
        transform: scale(0.5)
        -webkit-transform: scale(0.5)
        -moz-transform: scale(0.5)
        -ms-transform: scale(0.5)
        margin: -181px auto 0px auto
      h5
        margin-top: -60px
    #carousel-home .caption h5
      font-size: 20px
      span
        font-size: 16px
  .carousel-caption img
    margin-right: 0px
    margin-top: 10px
  main #carousel-home img.slide
    height: 250px

/* small
@media (min-width: 420px) and (max-width: 600px)
  header .navbar-inverse
    background: rgba(5, 0, 0, 1) !important
  .navbar-nav
    margin: 1px -15px
  main
    margin-bottom: 450px
  .slogan
    padding-bottom: 10px
  main
    .descripcion
      margin: 110px 0px 50px 0px
      img
        transform: scale(0.5)
        -webkit-transform: scale(0.5)
        -moz-transform: scale(0.5)
        -ms-transform: scale(0.5)
        margin: -181px auto 0px auto
      h5
        margin-top: -60px
    #carousel-home .caption h5
      padding-top: 10px
      font-size: 25px
      span
        font-size: 20px
  .carousel-caption img
    margin-right: 0px
    margin-top: 10px
  main #carousel-home img.slide
    height: 300px

/* medium
@media (min-width: 600px) and (max-width: 768px)
  header .navbar-inverse
    background: rgba(5, 0, 0, 1) !important
  .navbar-nav
    margin: 1px -15px
  main
    margin-bottom: 450px
  .slogan
    padding-bottom: 10px
    font-size: 18px
  main
    .descripcion
      margin: 120px 0px 50px 0px
      img
        transform: scale(0.5)
        -webkit-transform: scale(0.5)
        -moz-transform: scale(0.5)
        -ms-transform: scale(0.5)
        margin: -181px auto 0px auto
      h5
        margin-top: -60px
    #carousel-home .caption h5
      padding-top: 120px
      font-size: 34px
      span
        font-size: 22px
  .carousel-caption img
    margin-right: 0px
    margin-top: 80px

/* large
@media (min-width: 768px) and (max-width: 990px)
  header .navbar-inverse
    background: rgba(5, 0, 0, 0.7) !important
  main
    margin-bottom: 450px
  .slogan
    padding-bottom: 10px
    font-size: 18px
  main #carousel-home .caption h5
    padding-top: 60px
    font-size: 45px
    span
      font-size: 30px
  .carousel-caption img
    margin-right: 0px
    margin-top: 80px

@media (min-width: 990px)
  header .navbar-inverse
    background: rgba(5, 0, 0, 0.7) !important
