/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */

$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
/** colores  **/
$gold: #c3a269
$green: #58b957
$white: #FFFFFF
$primary: #383838
$slowBlack: #898888
$mediumBlack: #1e1e1e
$black: #000000
$mediumWhite: #cecece

/** tamaños de fuente **/
$text-small: 11px
$text-default: 13px
$text-strong: 16px


$assetPath: "/assets/images"


/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
*
	margin: 0
	padding: 0

html
	position: relative !important
	min-height: 100% !important

body
	background: #f3f3f3
	color: $primary
  margin-bottom: 60px


// endbower
/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
